/* src/styles/Navbar.css */
.navbar {
  background-color: var(--background-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #2d2d2d;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
}

.navbar-logo {
  color: var(--primary-color);
  justify-self: flex-start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
}

.nav-item {
  height: 80px;
  display: flex;
  align-items: center;
}

.nav-link {
  color: var(--on-surface-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease-out;
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-actions-desktop {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-item-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

/* Navbar Button adjustments */
.navbar .btn {
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    
    background-color: var(--surface-color);
    
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-out;
    padding: 0;
  }

  .nav-menu.active {
    max-height: 500px;
    opacity: 1;
    z-index: 10;
    padding: 2rem 0;
    border-bottom: 1px solid #2d2d2d;
  }

  .nav-actions-desktop {
    display: none;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--on-surface-color);
    z-index: 20;
  }

  .nav-item {
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .nav-link {
    padding: 1rem 0;
    font-size: 1.3rem;
  }

  .nav-item-mobile {
    display: list-item;
    list-style: none;
    width: 90%;
    max-width: 320px;
  }

  .nav-item-mobile .btn {
    width: 100%;
  }

  .navbar-logo {
    position: relative;
    z-index: 20;
  }
}
